.home {
  background-color: #f1f1f1;
  width: 100vw;
  height: 100vh;

  > .home-menu-container {
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      margin: 0;
    
      li {
        padding: 10px 20px;
        cursor: pointer;
      }
    }

    .selected-item {
      color: #0000ff;
      background-color: #ccc;
    }
    
    .menu-content {
      background-color: #fff;
      width: 200px;
      height: 100%;
    }
  }
}