.settings {
  display: flex;
  flex-direction: column;

  form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;

    input {
      margin-bottom: 20px;
    }

    button {
      margin: auto;
      width: 150px;
      height: 30px;
    }
  }

  .menu-tree {
    align-self: flex-start;

    li {
      cursor: pointer;
    }

    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }
  }
}